<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="adminemail" value="noreply@kitecms.com"/>
    <add key="blnTemplateCheck" value="True"/>
    <add key="smtpMailServer" value="127.0.0.1"/>
    <add key="useCaptcha" value="false"/>
    <add key="CaptchaMode" value="math"/>
    <add key="DebateDaysAreNew" value="7"/>
    <add key="maxFailedLogins" value="3"/>
    <add key="defaultAdminLanguage" value="uk"/>
    <!--<add key="languageCodes" value="uk,dk" />-->
    <add key="AllowedFilesList" value="doc,pdf,jpg,gif,css,xsl,png"/>
    <add key="GraphicFiles" value="jpg,gif,png"/>
    <add key="MaxFileSizeKB" value="4000"/>
    <add key="uploadRootDirectory" value="/images"/>
    <add key="GraphicRootDirectory" value="/images"/>
    <add key="EditorStyles" value=""/>
    <add key="emailFieldName" value="tfa"/>
    <add key="useUserfriendlyUrl" value="true"/>
    <add key="DefaultStylesheet" value="/default.css"/>
    <add key="validXHTML" value="true"/>
    <add key="hasBoxmodule" value="true"/>
    <add key="shopDefaultIsLimited" value="false"/>
    <add key="shopDontSaveXmlInFile" value="true"/>
    <add key="shopEmail" value="noreply@kitecms.com"/>
    <add key="shopEmailFrom" value="noreply@kitecms.com"/>
    <add key="shopShipping" value="20"/>
    <add key="shopDataFile" value="/images/data.csv"/>
    <add key="shopDataFileDelim" value=";"/>
    <add key="shopDataFileColumns" value="id;title;category1;category2;;height;width;category3;;;;;;;;;;;;;;;;;;;;;;;;;;;;;price;description"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- Remove access to all xml files for securityreasons. See http://stackoverflow.com/questions/1053696/how-do-i-restrict-access-to-files-with-specific-extensions-in-asp-net -->
      <add name="RemoveAccess2XML" verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler"/>
      <add verb="*" name="PiczardWebResource" path="piczardWebResource.ashx" preCondition="integratedMode" type="CodeCarvings.Piczard.Web.WebResourceManager, CodeCarvings.Piczard"/>
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/modules/errorpages/404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <!-- For errorhandling -->
    <httpHandlers>
      <!-- Remove access to all xml files for securityreasons. See http://stackoverflow.com/questions/1053696/how-do-i-restrict-access-to-files-with-specific-extensions-in-asp-net -->
      <!-- You need to map xml-files to .net for it to work -->
      <add path="*.xml" verb="*" type="System.Web.HttpForbiddenHandler"/>
    </httpHandlers>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.8"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Windows"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
          Use utf-8 for responseEncoding for Vietnamese
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>